body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

#game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

#pixel-canvas {
    border: 2px solid #333;
}

#toggle-menu-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    background-color: #ffffff;
    color: #00000;
    border: none;
    cursor: pointer;
	border: 2px solid #000;
}

#color-menu {
    display: flex;
    margin-bottom: 15px;
    position: fixed;
    bottom: -70px;
    left: 88px;
    transition: bottom 0.3s ease-in-out;
	background-color: #383838;
    border: 3px solid #000;
}

.color-button {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    cursor: pointer;
}
